header {
    padding-top: 50px;
}

footer {
    padding-top: 50px;
}

img, embed, object, video {
    max-width: 100%;
}

.page-header-custom {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

dl {
    margin: 5%;
}