*{
    outline: 1px solid red !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    *{background-color: blue;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    *{background-color: grey;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    *{background-color: green;}
}

/* Large devices (4K desktops, 1900px and up) */
@media (min-width: 1900px) {

    *{background-color: yellow;}

}